<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
		
		<th:block th:each="sheet : ${catfoodclient.css}">
			<link rel=stylesheet th:href="${sheet}"/>
		</th:block>
		<th:block th:each="script : ${catfoodclient.scripts}">
			<script th:src="${script}"></script>
		</th:block>
		<script src="/hairball/html.hairball" type="application/x-hairball" id="htmlvocab">
			/: /P <p> :/
			/: P/ </p> :/
			/: /H1 <h1> :/
			/: H1/ </h1> :/
			/: /H2 <h2> :/
			/: H2/ </h2> :/
			/: /H3 <h3> :/
			/: H3/ </h3> :/
			/: /EM /SPACE <em> :/
			/: EM/ </em> /SPACE :/
		</script>
		<title th:text="${catfoodclient.applicationTitle}"></title>
	</head>
	<body class="body">
		<script>
			document.addEventListener('DOMContentLoaded', function(event) { 
				var x = document.createElement('script'); 
				x.setAttribute('src','/a/a.nocache.js?time=' + Math.random() ); 
				document.body.appendChild(x); 
			}); 
		</script>
		<div id='app-node'>
			<div class="header-center"><div id="menu" class="main-header"></div></div>
			<div class="content-center"><div id="chunk-node" class="content"></div></div>
		</div>
	</body>
</html>
