/.gradle/
/orientdb/
/webroot/
/bin/
/.vertx/
/build/
.cache-main/
.cache-tests/
.settings/
.project
.classpath
client/.classpath
server/.classpath
client/.project
server/.project
client/.settings
server/.settings
client/.cache-main
server/.cache-main
client/.cache-tests
server/.cache-tests
