:root {
	--main-bg-color: white;
	--main-border-color: cyan;
	--body-bg-color: #77AA88;
}

@media screen and (min-device-width: 481px) {
	.cf-intfont { font-size: 14px; font-weight: normal;}
	.cf-pfont { font-size: 1vw; }
	.cf-h1font { font-size: 3vw; }
}

@media screen and (max-device-width: 480px) {
	.cf-intfont { font-size: 14px; font-weight: normal;}
	.cf-pfont { font-size: 36px; }
	.cf-h1font { font-size: 56px; }
}

.header-center {
	position: sticky;
	top: 0;
	width: 100%;
	background-color: var(--body-bg-color);
	padding: 0px;
	margin: 0px;
}

.body {
	background-color: var(--body-bg-color);
}

.main-header {
	background-image: url("/images/header.png");
	background-position: center;
	background-repeat: no-repeat;
	background-color: var(--body-bg-color);
	margin: 0;
	padding: 0;
	height: 252px;
	position: relative;
	margin-left: auto; 
	margin-right: auto; 
	width: 1600px
}

.menu-view { 
	background-color: var(--main-bg-color);
	position: relative;
	top: 210px;
	left: 12px;
	border-width: 3px;
	border-color: var(--main-border-color);
	border-style: solid;
}

.menu {
	list-style-type: none;
	margin: 3px;
	padding: 0;
}

.menu > li > a {
	display: block;
	border-width: 1px;
	border-color: var(--main-border-color);
	border-style: solid;
	margin-top: 2px;
	margin-bottom: 2px;
}